<template>
  <section>
    <audio
      :data-name="Number(name)"
      controls
      preload="none"
      @play="stopOtherAudios"
      @timeupdate="onPlaying"
      @ended="onEnd"
    >
      <source :src="src" />
      This browser does not support HTML5 audio
    </audio>
    <span v-if="href">
      <a :href="href" target="_blank" rel="noopener noreferrer">?</a>
    </span>
  </section>
</template>

<script setup lang="ts">
import { makeSeconds } from "../shared/audio";

const props = defineProps<{
  name: string;
  src: string;
  href?: string;
  next?: string;
}>();

function stopOtherAudios(ev: any) {
  document.querySelectorAll("audio").forEach((a) => {
    if (a !== ev.target) a.pause();
  });
}

function onPlaying(ev: any) {
  const allButtons: HTMLButtonElement[] = Array.from(
    document.querySelectorAll("button[data-target]:not(audio)"),
  );

  const elAudio = ev.target as HTMLAudioElement;
  const targetButtons = allButtons.filter(
    (b) => b.getAttribute("data-target") === props.name,
  );

  let activeIndex = -1;

  for (const el of targetButtons) {
    const from = el.getAttribute("data-from");
    const to = el.getAttribute("data-to");
    if (makeSeconds(from || "0") > elAudio.currentTime) {
      if (to && makeSeconds(to) > elAudio.currentTime) {
        activeIndex = -1;
      }
      break;
    }
    activeIndex++;
  }

  const currentButton = targetButtons[activeIndex];

  allButtons.map((b) => {
    if (b === currentButton) {
      if (!b.classList.contains("active")) {
        b.classList.add("active");
        b.blur();
        b.focus();
      }
    } else {
      b.classList.remove("active");
    }
  });
}

function onEnd() {
  let iNext = 0;

  if (props.next) {
    iNext = Number(props.next);
  } else {
    iNext = Number(props.name) + 1;
  }

  const elNext = document.querySelector(`audio[data-name="${iNext}"]`);
  if (elNext instanceof HTMLAudioElement) {
    elNext.currentTime = 0;
    elNext.play();
  }
}
</script>

<style scoped>
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}

audio {
  flex-grow: 1;
  margin-right: 5px;
}
</style>
