<template>
  <button
    @click="onClick"
    :data-target="Number(target)"
    :data-from="from"
    :data-to="to"
  >
    ▶
  </button>
</template>

<script setup lang="ts">
import { makeSeconds } from "../shared/audio";

const props = defineProps<{
  target: string;
  from?: string;
  to?: string;
}>();

function onClick() {
  const elAudio = document.querySelector(`audio[data-name="${props.target}"]`);
  if (elAudio instanceof HTMLAudioElement) {
    const setTime = () => {
      elAudio.currentTime = props.from ? makeSeconds(props.from) : 0;

      const { to } = props;
      if (to) {
        const toSec = makeSeconds(to);
        const toStop = () => {
          if (elAudio.currentTime === toSec) {
            elAudio.pause();
            elAudio.removeEventListener("playing", toStop);
          }
        };
        elAudio.addEventListener("playing", toStop);
      }

      elAudio.play();

      elAudio.removeEventListener("loadedmetadata", setTime);
    };

    if (elAudio.duration) {
      setTime();
    } else {
      elAudio.addEventListener("loadedmetadata", setTime);
      elAudio.load();
    }
  }
}
</script>

<style scoped>
button {
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

.active {
  background-color: yellow;
}
</style>
